<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/answer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <div class="title">퀴즈 정답</div>
        <a href="/"><img src="/public/home.png" alt="홈으로" class="homeb"></a>
       
        <br><br>
        
        <div class="circle">
            <% var quiz = data[0] %>
            <%= quiz.answer %>
        </div>
    
       <br>

        <% if(quiz.type == 'OX'){%>
            <p><%= quiz.explain %></p>
            <a href="/quiz/ox"><img src="/public/right.png" alt="다음으로" class="right"></a>
        <%}%>

        <% if(quiz.type == '네글자'){%>
            <p><%= quiz.explain %></p>
            <a href="/quiz/fourWord"><img src="/public/right.png" alt="다음으로" class="right"></a>
        <%}%>

        <% if(quiz.type == '넌센스'){%>
            <p><%= quiz.explain %></p>
            <a href="/quiz/nonsense"><img src="/public/right.png" alt="다음으로" class="right"></a>
        <%}%>

        <% if(quiz.type == '상식퀴즈'){%>
            <p><%= quiz.explain %></p>
            <a href="/quiz/knowledge"><img src="/public/right.png" alt="다음으로" class="right"></a>
        <%}%>

        <% if(quiz.type == '국기 맞히기'){%>
            <a href="/quiz/flag"><img src="/public/right.png" alt="다음으로" class="right"></a>
        <%}%>
        
    </div>
</body>
</html>

