<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/question.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        #myProgress {
          width:300px;
          height:50px;
          background-color:#F6B157;
      }
   
        #myBar {
          width:300px;
          height:50px;
          background-color:hsl(27, 100%, 50%);
      }
      </style>

</head>
<body>
    <div class="wrap">
        <div class="title">
            <% for(let i =0; i<data.length;i++){%>
                <% var quiz = data[i] %>
            <%}%>
            <% var quiz = data[0] %> 
            <%= quiz.type %>
        </div>
        <a href="/"><img src="/public/home.png" alt="홈으로" class="homeb"></a>
        <br><br><br><br>

        <div class="timer">
            <img src="/public/alarm.png" alt="타이머" class="alarm">
            <div id="myProgress">
                <div id="myBar"></div>
                <br>
                <!-- <div style="text-align:right"><button onclick="start()" class="start">타이머 시작</button></div> -->
              </div>
        </div>
        <div id="digit"></div>

        <br><p>

        <% var random = Math.floor(Math.random() * data.length) %>
        <% var quiz = data[random] %> 

        <% if(quiz.type == '국기 맞히기'){%>
            <img src='<%= quiz.question %>' width="700" height="450">
        <%} else{ %>      
                <%= quiz.question %>
        <%}%>

        </p>
        <br>
       
        <div class="container">
            <div class="group">
            
                <% if(quiz.type == "OX"){%>
                    <a href="/quiz/ox/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "넌센스"){%>
                    <a href="/quiz/nonsense/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "네글자"){%>
                    <a href="/quiz/fourWord/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "상식퀴즈"){%>
                    <a href="/quiz/knowledge/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "국기 맞히기"){%>
                    <a href="/quiz/flag/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "영화"){%>
                    <a href="/quiz/movie"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "드라마"){%>
                    <a href="/quiz/drama"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "댄스곡"){%>
                    <a href="/quiz/dance"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "음식"){%>
                    <a href="/quiz/food"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.type == "행사"){%>
                    <a href="/quiz/anniversary"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.type == "취미생활"){%>
                    <a href="/quiz/hobby"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "직업"){%>
                    <a href="/quiz/job"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "스포츠"){%>
                    <a href="/quiz/sports"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "동물"){%>
                    <a href="/quiz/animal"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.type == "감정"){%>
                    <a href="/quiz/emotion"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                        
                <% if(quiz.type == "악기"){%>
                    <a href="/quiz/instrument"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "속담"){%>
                    <a href="/quiz/proverb"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.type == "인물"){%>
                    <a href="/quiz/person"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.type == "물건"){%>
                    <a href="/quiz/object"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.type == "줄줄이말해요"){%>
                    <a href="/quiz/actionGame"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>


                <% var getTime = data1[0] %>
                <script>
            
                    var i = '<%= getTime.time %>';
                    var k = 300/(i/100)
                      window.onload=function() {
                        if (i == i)
                        {
                            var digit = document.getElementById("digit");         
                            var elem = document.getElementById("myBar");
                            var width = 300;
                            var id = setInterval(frame,1000);
                            function frame() {
                                if (width <= 0) {
                                    clearInterval(id);   
                                }
                                 else {
                                    width-= k;
                                    elem.style.width = width + "px";
                                  }
                              }
                          }
                      }
                    </script>
        
            </div>
        </div>
    </div>
</body>
</html>
